.vertical-middle{
    vertical-align: middle !important;
}

#index .body{
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
}
#index aside{
    width: 200px;
    height: 100%;
    background-color: #222;
    position: absolute;
}

#index .body>article{
    margin-left: 200px;
    width: auto;
    height: 100%;
    overflow: auto;
    background-color: #fbfbfb;
}
#index .item{
    padding: 15px 0 15px 20px;
    color: #aeb2b7;
    font-size: 15px;
}
.hr-block{
  border-top: solid 1px #111415;
  border-bottom: solid 1px #646668;
}
#index .item:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
#index .item i{
    margin-right: 10px;
}
#index .item a{
    color: inherit;
    text-decoration: none;
}
#loginBG{
    background:url("../images/loginbg.jpg") center center no-repeat #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    width: 500px;
}
#login article{
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 7px;
}
